body{
    background-image: url('grid.jpg');
    linear-gradient(0,0,0,0.6),rgba(0,0,0,0.6),url(grid);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}
